body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.reservation-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
}

.reservation-form {
    background: #fff;
    padding: 2rem 2.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.reservation-headerReservation {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
    font-weight: 600;
    text-align: center;
}

.reservation-label {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
}

.reservation-form input{
    padding: 0.5rem;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 1rem;
    color: #333;
}

.reservation-button {
  margin-top: 1rem;
  padding: 0.7rem;
  background: #5da6f4;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.reservation-button:hover {
    background: #006aff;
}